
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dancing Script', sans-serif;
}
body{
    background-color: #DDA0DD;
    display: flex;
    flex-direction: column;
    flex-wrap: gap;
}
nav{
    height: 50px;
    background-color: #B0E0E6;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
a{
    text-decoration: none;
    color:#40E0D0
}
a:hover{
    border: bottom 4px solid black;
    transition: 0.3s all;
    border: radius 2px;
    transform: scale(1.1);
}
.btn{
    background-color: cyan;
    border-radius:10px;
    border:none;
    padding: 5px;
    cursor:pointer;
}